body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.el-header {
    background-color: #545c64;
}