body, html {
    margin: 0;
    height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #eee;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #ccc;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.hiddien-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}